* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif, Helvetica, Arial;
}

.background {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

h1 {
	font-weight: bolder;
	margin-bottom: 10px;
}

#container {
	display: inline-block;
	margin-bottom: 20px;
	text-align: center;
	width: 600px;
	height: 102.5%;
	border-radius: 15px;
	padding: 15px;
}

#newItem {
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 200px;
}

#newItem:focus {
	outline: 0;
}

.button {
	border-radius: 10px;
	border-style: none;
	cursor: pointer;
}

#tasks-list {
	list-style: none;
	max-height: 200px;
}

#tasks-list li {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 50px 10px 50px;
	text-align: left;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 10px;
}

#tasks-list li span {
	display: inline-block;
}

#tasks-list li span input,
#tasks-list li span h3 {
	float: left;
	max-width: 90%;
	text-decoration: none;
}

#tasks-list li span input {
	display: block;
	padding: 10px;
	margin: 0 5px 0px 0;
	width: 30px;
	height: 30px;
}
#tasks-list li .due-date {
	display: block;
	font-weight: 600;
	margin: 5px 0 5px 0;
}

#tasks-list li .description  {
	display: block;
	max-width: 90%;
	font-size: 18px;
	font-size: 16px;
	text-decoration: none;
	color: #052938;
}

#tasks-list li .isDone {
	color: grey;
	text-decoration: line-through;
}

#tasks-list li .overdueDate {
	color: red;
}

#tasks-list li .button_deleteTask {
	background-color: red;
	float: right;
	width: 25px;
	height: 25px;
	text-align: center;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 40%;
}

.hide-completed-tasks .done {
	display: none;
}